:root {
  // RAW
  --clr-dark-700: hsla(196.8, 100%, 4.9%, 1);
  --clr-dark-500: hsla(0, 0%, 51.4%, 0.29);
  --clr-dark-200: hsla(0, 0%, 18.8%, 1);
  --clr-dark-50: hsla(44.8, 60.4%, 78.2%, 1);
  --clr-dark-10: hsl(0, 0%, 100%);
  --clr-orange-400: hsla(39.1, 100%, 46.7%, 1);
  --clr-ocean-blue: hsl(190.4, 100%, 22.5%);
  --clr-ocean-light: hsl(196.6, 66.2%, 13.9%);
  --clr-teal-lagoon: hsl(181.3, 87.5%, 31.4%);
  --clr-mint-whisper: hsl(159.7, 40.8%, 70.2%);
  --clr-golden-glow: hsl(39.1, 100%, 46.7%);

  // BRAINBLOX PRIMARY
  --clr-bb-dark: var(--clr-dark-700);
  --clr-bb-light: var(--clr-dark-50);

  // BRAINBLOX SECONDARY
  --clr-bb-coffe: var(--clr-dark-200);
  --clr-bb-highlight: var(--clr-orange-400);
  --clr-bb-white: var(--clr-dark-10);

  //PATTERNS
  --_g: #0000 90deg, var(--clr-bb-coffe) 0;
  --clr-bb-pattern-grid: conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--clr-bb-dark);

  // BACKGROUND
  --clr-bg-main: var(--clr-bb-pattern-grid);
  --clr-bg-option-select: var(--clr-dark-500);
  --clr-bg-palette-options: var(--clr-ocean-light);

  // TEXT
  --clr-txt-dark: var(--clr-bb-dark);
  --clr-txt-light: var(--clr-bb-light);
  --clr-txt-highlight: var(--clr-bb-highlight);

  // BUTTON

  // BODER
}

:root[data-theme='light'] {
  // RAW

  // BRAINBLOX PRIMARY
  --clr-bb-dark: var(--clr-dark-50);
  --clr-bb-light: var(--clr-dark-700);

  // BRAINBLOX SECONDARY
  --clr-bb-coffe: var(--clr-dark-200);
  --clr-bb-highlight: var(--clr-orange-400);
  --clr-bb-white: var(--clr-dark-700);

  //PATTERNS
  --_g: #0000 90deg, var(--clr-bb-coffe) 0;
  --clr-bb-pattern-grid: conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--clr-bb-dark);

  // BACKGROUND
  --clr-bg-main: var(--clr-bb-pattern-grid);
  --clr-bg-option-select: var(--clr-dark-500);
  --clr-bg-palette-options: var(--clr-ocean-light);

  // TEXT
  --clr-txt-dark: var(--clr-bb-light);
  --clr-txt-light: var(--clr-bb-dark);
  --clr-txt-highlight: var(--clr-bb-highlight);

  // BUTTON

  // BODER
}
