@use '../../styles/util' as u;
.menu {
  position: relative;
  background-color: var(--clr-bb-dark);

  &__wrapper {
    height: 100%;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 0 u.rem(64);
  }

  &__btn {
    display: grid;
    place-items: center;
    background: transparent;
    border: none;
    color: var(--clr-bb-light);
    cursor: pointer;
  }

  &__icon-path {
    fill: var(--clr-bg-menu-icon);
  }

  &__search-icon {
    stroke: var(--clr-bg-menu-icon);
  }
}
