@use '../../../styles/util' as u;
@use '../../../styles/globals/variables' as gv;
.select {
  --bg: var(--clr-bb-dark);
  --caret: var(--clr-bb-highlight);
  --border: 2px solid var(--clr-bb-light);
  --px: #{u.rem(2)};
  --py: #{u.rem(8)};
  @include u.vertical-items(u.rem(8));

  &__view-add {
    display: flex;
    gap: 0 u.rem(10);
  }

  &__wrapper {
    max-width: u.rem(220);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: var(--border);
    border-radius: gv.$border-radius;
    background-color: var(--bg);
    padding-inline: var(--px);
    padding-block: var(--py);
    color: var(--clr-txt-light);
  }

  &__selected-option {
    padding-inline: var(--px);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &__dropdown {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  &__search {
    $search: &;
    border: transparent;
    border-width: 0;
    width: 100%;
    background-color: transparent;
    caret-color: var(--caret);
    outline: none;
    color: var(--clr-txt-light);

    &--add {
      @extend #{$search};
      background-color: var(--clr-bb-dark);
      border: var(--border);
      border-radius: gv.$border-radius;
      max-width: 30%;
      transition:
        width 0.6s cubic-bezier(0.45, 0.58, 0.29, 1.3),
        transform 0.4s cubic-bezier(0.45, 0.58, 0.29, 1.3);
    }

    &--add.hidden {
      width: 0;
      transform: translateX(#{u.rem(-20)});
      z-index: -1;
    }
  }

  &__options {
    padding-block: var(--py);
    background-color: var(--bg);
    width: min-content;
    white-space: nowrap;
    border: var(--border);
    border-radius: gv.$border-radius;
    color: var(--clr-txt-light);
  }
}
