@use '../../../styles/util' as u;
@use '../../../styles/globals/variables' as gv;
.option {
  cursor: pointer;
  padding-inline: u.rem(8);

  &:hover {
    background-color: var(--clr-bg-option-select);
    color: var(--clr-txt-light);
  }

  &__btn {
    display: block;
    text-align: left;
    border: transparent;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    width: 100%;
  }
}
